<%- include('../includes/top.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="myContainer">
        <% if (errorMessage) { %>
        <div class="myFlashMessage myFlashMessageError">
            <%= errorMessage %>
        </div>
        <% } %>
        <div class="myCentered">
            <form action="/new-password" method="POST">
                <div class="myForm">                    
                    <div class="myFormItem">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password">
                    </div>                    
                </div>
                <div class="myCentered">
                    <input type="hidden" name="userId" value="<%= userId %>" />
                    <input type="hidden" name="passwordToken" value="<%= passwordToken %>" />
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <button class="myButton" type="submit">Reset</button>
                </div>
            </form>
        </div>
    </main>

    <%- include('../includes/bottom.ejs') %>